@{
    ViewBag.Title = "Home Page";
}

<div class="row topBotPadded">
    <div class="col-sm-7">
        <h2>Get anything delivered!</h2><br />
        <p style="font-size: 1.9rem; line-height: 1.6;  letter-spacing: 0;">We offer one-hour delivery of <b>anything</b>, including food from any restaurant, groceries, and office supplies.<br /><br />Currently Serving Chicago, IL.<br /><br />Open daily 9am-11pm</p>
    </div>
    <div class="col-sm-5 text-center">
        <br /><br /><br />
        <button onclick="new function () { document.location = '/Order' }" value="Order Now" class="btn">Order Now</button><br /><h4>Or call <br>(630) 597-6873</h4>
    </div>
</div>

</div>
</div>
</div>
</div>
<div style="border-bottom: 1px solid #7a7a7a; width: 100%; background: #1c1c1c; background: -webkit-linear-gradient(#525252, #1c1c1c); background: -o-linear-gradient(#525252, #1c1c1c); background: -moz-linear-gradient(#525252, #1c1c1c); background: linear-gradient(#525252, #1c1c1c); ">
    <div class="container" style="padding: 1rem 0 0 0;">
        <div class="row" style="color: #f7f7f7; text-align: center; margin-bottom: 1rem;">
            <div class="col-sm-12">
                <h2>How it works:</h2>
            </div>
        </div>
        <div class="row" style="color: #f7f7f7; overflow: hidden;">
            <div class="col-sm-4">
                <div class="works">
                    <h3>Order</h3>
                    <img src="/content/images/ico1.png"><br><br>
                    Place your order on our website, or give us a call and tell us what you need delivered.<br><br>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="works">
                    <h3>Wait</h3>
                    <img src="/content/images/ico2.png"><br><br>
                    One of our delivery drivers will pick up your order: All you have to do is sit back and wait.<br><br>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="works">
                    <h3>Receive</h3>
                    <img src="/content/images/ico3.png"><br></br>
                    Get your order within one hour! Hot food is delivered in heated delivery bags to keep it fresh.<br><br>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="width: 100%;  background-image: url('content/images/tilebg.jpg'); border-bottom: 1px solid #7a7a7a;">
    <div class="container" style="padding: 1rem 0; padding-bottom: 1rem;">
        <div class="row">
            <div class="twelve columns" style="text-align: center; margin-top: 2em;">
                <h3 style="color: #000000;">All major credit cards accepted</h3>
                <img src="content/images/visa.png" style="border: 1px solid #7a7a7a; border-radius: 3px; margin: 1px;"><img src="content/images/mastercard.png" style="border: 1px solid #7a7a7a; border-radius: 3px; margin: 1px;"><img src="content/images/amex.png" style="border: 1px solid #7a7a7a; border-radius: 3px; margin: 1px;"><img src="content/images/discover.png" style="border: 1px solid #7a7a7a; border-radius: 3px; margin: 1px;"><br><br>
            </div>
        </div>
    </div>
</div>
