<appSettings >
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="FourSquare.ClientId" value="VGD2YDN1GLFPOVPIUE4FREDRWPNTANFPIPINLDCO02KAYNH5" />
  <add key="FourSquare.ClientSecret" value="UZCYMNZWGM2SJ0UHD3CCIUBNIPRPJ042E5BYKXTQQ4PRHXFM" />
</appSettings>  