
@{
    ViewBag.Title = "ForgotPasswordSent";
}

<div class="alert alert-success">
    <p>We have sent instructions for resetting your password to your email address</p>
</div>
@Html.ActionLink("Home", "Index", "Home", null, new { @class = "btn btn-default"})