@using AllThingsDelivered.Models
@model Restaurant
@{
    ViewBag.Title = "Index";
}

<div class="container">
@foreach (RestaurantCategory category in Model.RestaurantCategories)
{
    <h1>@category.CategoryName</h1>
    foreach (RestaurantItem item in category.RestaurantItems)
    {
        <div class="row">
            <div class="col-sm-10">
                <h5>@item.ItemName</h5>
                <span style="color: gray">@item.ItemDescription</span>
            </div>
            <div class="col-sm-12 text-right">
               @if (item.Price > 0)
               {
                   <text>@item.Price</text>
               }
            </div>
        </div>
    }
}
</div>