@using AllThingsDelivered.Models
@model IEnumerable<Restaurant>
@{
    ViewBag.Title = "List";
}
<a href="/customitem">Add a custom item to your cart</a><br /><br />
<h3>Restaurants</h3>
@foreach (var restaurant in Model)
{
    <a href="/menu/@restaurant.RestaurantID">@restaurant.RestaurantName</a><br />
}