/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

body {
    background-color: #000000;
    color: white;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.topNav {
    background: rgba(0,0,0,0.7);
    padding: 1em 0;
    border-bottom: 2px solid #333333;
}

.botNav {
    padding: 1em 0;
    text-align: center;
    background-color: black;
}

.content {
    padding: 1em 0;
    color: black;
}

.bigLink {
    font-size: 1.5em;
}

.row {
    margin-right: 0;
}

.lilBox {
    border: 1px solid #CCCCCC;
    background-color: #EEEEEE;
    border-radius: 5px;
    padding: 1em;
    white-space: normal;
}

.splash {
    background: rgba(0,0,0,0.7);
    color: #DDDDDD;
    padding: 1em;
    height: 400px;
    border: 1px solid #333333;
    border-radius: 5px;
}

.inverse {
    color: white;
}

a:hover {
    text-decoration: none;
}