/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

body {
    background-color: #000000;
    color: white;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.topNav {
    background-color: black;
    padding: 1em 0;
}

.botNav {
    padding: 1em 0;
    text-align: center;
}

.content {
    padding: 1em 0;
    background-color: white;
    color: black;
}

.bigLink {
    font-size: 1.5em;
}